repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: trailing-whitespace
    exclude: |
      ^.+\.(patch|diff)$
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
    - id: actionlint
