# For inclusion in another workflow only

name: Reusable build workflow

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      gitref:
        required: false
        type: string
        default: ${{ github.ref }}

jobs:
  build:
    strategy:
      matrix:
        flavor:
          - "normal"
          - "alt"
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.gitref }}
        fetch-depth: 0  # detect tagged ver in repo

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.26'
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Build flavor ${{ matrix.flavor }}
      if: ( ! startsWith(inputs.gitref, 'refs/tags/') )
      run: >
        uvx
        --python-preference only-system
        --with tox-uv
        tox run -v
        -e build-${{ matrix.flavor }}

    - name: Build tagged flavor ${{ matrix.flavor }}
      if: startsWith(inputs.gitref, 'refs/tags/')
      env:
        PDM_BUILD_SCM_VERSION: ${{ github.ref_name }}
      run: >
        uvx
        --python-preference only-system
        --with tox-uv
        tox run -v
        -e build-${{ matrix.flavor }}

    - uses: actions/upload-artifact@v6
      with:
        name: dist-${{ matrix.flavor }}
        path: dist/*
        if-no-files-found: error

  checksrc:
    needs: build
    strategy:
      matrix:
        flavor:
          - "normal"
          - "alt"
    runs-on: ubuntu-slim
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: dist-${{ matrix.flavor }}
        path: dist

    - name: Extract tarball
      shell: bash
      run: >
        tar -zxf dist/*.tar.gz --strip-components=1

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.26'
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Run type checker on source
      run: >
        uvx
        --python-preference only-system
        --with tox-uv
        tox run-parallel -vv
        -m typecheck

