name: Type checker compatibility tests

permissions:
  contents: read

on:
  - workflow_dispatch

jobs:
  mypy_compat:
    strategy:
      fail-fast: false
      matrix:
        myver:
          - '1.19.1'
          - '1.19.0'
          - '1.18.2'
          - '1.18.1'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisites
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install -r pyproject.toml
          uv pip install 'mypy == ${{ matrix.myver }}'

      - name: Perform type check
        run: >
          .venv/bin/mypy src


  pyright_compat:
    strategy:
      fail-fast: false
      matrix:
        prver:
          - '1.1.408'
          - '1.1.407'
          - '1.1.406'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisites
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install .[mypy]

      - uses: jakebailey/pyright-action@v2
        with:
          version: ${{ matrix.prver }}
          python-path: .venv/bin/python
          extra-args: src


  basedpyright_compat:
    strategy:
      fail-fast: false
      matrix:
        bpr-ver:
          - '1.37.1'
          - '1.37.0'
          - '1.36.2'
          - '1.36.1'
          - '1.36.0'
          - '1.35.0'
          - '1.34.0'
          - '1.33.0'
          - '1.32.1'
          - '1.32.0'
          - '1.31.7'
          - '1.31.6'

    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisite python packages
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install .[mypy]
          uv pip install "basedpyright==${{ matrix.bpr-ver }}"

      - name: Run basedpyright
        run: |
          source .venv/bin/activate
          basedpyright --level error src


  pyrefly_compat:
    strategy:
      fail-fast: false
      matrix:
        pyr-ver:
          - '0.47.0'
          - '0.46.3'
          - '0.46.2'
          - '0.46.1'
          - '0.46.0'
          - '0.45.2'

    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisite python packages
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install .[mypy]
          uv pip install "pyrefly==${{ matrix.pyr-ver }}"

      - name: Run pyrefly
        run: |
          source .venv/bin/activate
          pyrefly check src


  ty_compat:
    strategy:
      fail-fast: false
      matrix:
        ty-ver:
          - '0.0.11'
          - '0.0.10'
          - '0.0.9'
          - '0.0.8'
          - '0.0.7'

    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisite python packages
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install .[mypy]
          uv pip install "ty==${{ matrix.ty-ver }}"

      - name: Run ty
        run: |
          source .venv/bin/activate
          ty check src

