name: Type checker compatibility tests

permissions:
  contents: read
  checks: write

on:
  - workflow_dispatch

jobs:
  mypy:
    strategy:
      fail-fast: false
      matrix:
        mypy-ver:
          - '1.19.1'
          - '1.19.0'
          - '1.18.2'
          - '1.18.1'
    uses: ./.github/workflows/inc_tc_mypy.yml
    with:
      tarball-flavor: none
      ver-spec: mypy == ${{ matrix.mypy-ver }}


  pyright:
    strategy:
      fail-fast: false
      matrix:
        pyright-ver:
          - '1.1.408'
          - '1.1.407'
          - '1.1.406'
    uses: ./.github/workflows/inc_tc_pyright.yml
    with:
      tarball-flavor: none
      ver-spec: pyright == ${{ matrix.pyright-ver }}


  basedpyright_compat:
    strategy:
      fail-fast: false
      matrix:
        basedpyright-ver:
          - '1.37.3'
          - '1.37.2'
          - '1.37.1'
          - '1.37.0'
          - '1.36.2'
          - '1.36.1'
          - '1.36.0'
          - '1.35.0'
          - '1.34.0'
          - '1.33.0'
          - '1.32.1'
          - '1.32.0'
          - '1.31.7'
          - '1.31.6'
    uses: ./.github/workflows/inc_tc_basedpyright.yml
    with:
      tarball-flavor: none
      ver-spec: basedpyright == ${{ matrix.basedpyright-ver }}


  pyrefly:
    strategy:
      fail-fast: false
      matrix:
        pyrefly-ver:
          - '0.50.1'
          - '0.50.0'
          - '0.49.0'
          - '0.48.2'
          - '0.48.1'
          - '0.48.0'
          - '0.47.0'
          - '0.46.3'
    uses: ./.github/workflows/inc_tc_pyrefly.yml
    with:
      tarball-flavor: none
      ver-spec: pyrefly == ${{ matrix.pyrefly-ver }}


  ty:
    strategy:
      fail-fast: false
      matrix:
        ty-ver:
          - '0.0.14'
          - '0.0.13'
          - '0.0.12'
          - '0.0.11'
          - '0.0.10'
          - '0.0.9'
          - '0.0.8'
          - '0.0.7'
    uses: ./.github/workflows/inc_tc_ty.yml
    with:
      tarball-flavor: none
      ver-spec: ty == ${{ matrix.ty-ver }}

