name: Type checker compatibility tests

on:
  - workflow_dispatch

jobs:
  mypy_compat:
    strategy:
      fail-fast: false
      matrix:
        myver:
          - '1.18.2'
          - '1.18.1'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          enable-cache: true
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisites
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install -r pyproject.toml
          uv pip install 'mypy == ${{ matrix.myver }}'

      - name: Perform type check
        run: >
          .venv/bin/mypy src

  pyright_compat:
    strategy:
      fail-fast: false
      matrix:
        prver:
          - '1.1.407'
          - '1.1.406'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          enable-cache: true
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisites
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install -r pyproject.toml

      # HACK Only pyright 1.1.386+ is capable of parsing
      # current pyproject.toml which incorporated tox
      # config. Generate pyright config on-the-fly to
      # make sure pyright compatibility check is not
      # hindered by config issues.

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install prerequisite node modules
        run: npm install 'smol-toml@1.3.1'

      - name: Generate pyright config
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require('fs');
            const toml = require('smol-toml');

            fs.readFile('pyproject.toml', 'utf-8', (err, data) => {
              if (err) {
                console.error('Error reading pyproject.toml:', err);
                process.exit(1);
              }

              const config = toml.parse(data);
              const outData = JSON.stringify(config.tool.pyright, null, 2)

              fs.writeFile('pyrightconfig.json', outData, (err) => {
                if (err) {
                  console.error('Error writing pyrightconfig.json:', err);
                  process.exit(1);
                }
                core.startGroup('Data written to pyrightconfig.json');
                console.log(outData);
                core.endGroup();
              });
            });

      - uses: jakebailey/pyright-action@v2
        with:
          version: ${{ matrix.prver }}
          python-path: .venv/bin/python
          extra-args: src


  basedpyright_compat:
    strategy:
      fail-fast: false
      matrix:
        bpr-ver:
          - '1.31.7'
          - '1.31.6'

    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install prerequisite node modules
        run: npm install 'smol-toml@1.3.1'

      - name: Generate pyright config
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require('fs');
            const toml = require('smol-toml');

            fs.readFile('pyproject.toml', 'utf-8', (err, data) => {
              if (err) {
                console.error('Error reading pyproject.toml:', err);
                process.exit(1);
              }

              const config = toml.parse(data);
              const outData = JSON.stringify(config.tool.pyright, null, 2)

              fs.writeFile('pyrightconfig.json', outData, (err) => {
                if (err) {
                  console.error('Error writing pyrightconfig.json:', err);
                  process.exit(1);
                }
                core.startGroup('Data written to pyrightconfig.json');
                console.log(outData);
                core.endGroup();
              });
            });

      - uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.5'
          cache-dependency-glob: |
            ./pyproject.toml

      - name: Install prerequisite python packages
        run: |
          uv venv -p 3.12 --python-preference only-managed
          uv pip install -r pyproject.toml
          uv pip install "basedpyright==${{ matrix.bpr-ver }}"

      - name: Run basedpyright
        run: |
          source .venv/bin/activate
          basedpyright --level error src
