name: PR review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - '**/dependabot.yml'
      - '**/bandit.yml'
      - '.editorconfig'
      - '.gitignore'
      - '.gitattributes'
      - '**.md'
      - 'LICENSE'

jobs:
  pyrefly:
    runs-on: ubuntu-slim
    steps:
    - uses: ./.github/workflows/inc_tc_pyrefly.yml
      with:
        tarball-flavor: none

  pyright:
    runs-on: ubuntu-slim
    steps:
    - uses: ./.github/workflows/inc_tc_pyright.yml
      with:
        tarball-flavor: none

  basedpyright:
    runs-on: ubuntu-slim
    steps:
    - uses: ./.github/workflows/inc_tc_basedpyright.yml
      with:
        tarball-flavor: none

  mypy:
    runs-on: ubuntu-slim
    steps:
    - uses: ./.github/workflows/inc_tc_mypy.yml
      with:
        tarball-flavor: none

  ty:
    runs-on: ubuntu-slim
    steps:
    - uses: ./.github/workflows/inc_tc_ty.yml
      with:
        tarball-flavor: none

