# For inclusion in another workflow only

name: Reusable test workflow
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      flavor:  # "normal" or "alt"
        required: true
        type: string

jobs:
  mypy-stubtest:
    strategy:
      fail-fast: false
      matrix:
        lxml-ver:
          - "lxml50"
          - "lxml51"
          - "lxml52"
          - "lxml53"
          - "lxml54"
          - "lxml60"
    runs-on: ubuntu-slim
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: dist-${{ inputs.flavor }}
        path: dist

    - name: Extract tarball
      shell: bash
      run: >
        tar -zxf dist/*.tar.gz --strip-components=1

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.26'
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Install prerequisites
      run: >
        uv tool install
        -p 3.12
        --python-preference only-managed
        --with tox-uv
        tox

    # Glob not supported under default windows env
    - name: Determine wheel file name
      id: wheel-name
      shell: bash
      run: |
        echo "filename=$(echo dist/*.whl)" >> "$GITHUB_OUTPUT"

    - name: Execute mypy.stubtest
      run: >
        uvx
        tox run -e py312-myst-${{ matrix.lxml-ver }}
        --installpkg ${{ steps.wheel-name.outputs.filename }}
        --result-json test-${{ inputs.flavor }}-mypy-stubtest-${{ matrix.lxml-ver }}.json

    - uses: actions/upload-artifact@v6
      with:
        name: log-${{ inputs.flavor }}-mypy-stubtest-${{ matrix.lxml-ver }}
        path: test-${{ inputs.flavor }}-mypy-*.json
        if-no-files-found: error


  stub:
    strategy:
      fail-fast: false
      matrix:
        pyver:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - "ubuntu-24.04"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: dist-${{ inputs.flavor }}
        path: dist

    - name: Extract tarball
      shell: bash
      run: >
        tar -zxf dist/*.tar.gz --strip-components=1

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.26'
        cache-dependency-glob: |
          ./pyproject.toml

    # Glob not supported under default windows env
    - name: Determine wheel file name
      id: wheel-name
      shell: bash
      run: |
        echo "filename=$(echo dist/*.whl)" >> "$GITHUB_OUTPUT"

    - name: Test stubs
      run: >
        uvx
        -p ${{ matrix.pyver }}
        --python-preference only-managed
        --with "tox-gh-actions == 3.5.0"
        --with tox-uv
        tox run -v
        --skip-env '.*-(rt|myst)-.*'
        --installpkg ${{ steps.wheel-name.outputs.filename }}
        --result-json test-${{ inputs.flavor }}-stub-${{ matrix.pyver }}.json

    - uses: actions/upload-artifact@v6
      with:
        name: log-${{ inputs.flavor }}-stub-${{ matrix.pyver }}
        path: test-${{ inputs.flavor }}-stub-*.json
        if-no-files-found: error

  runtime:
    strategy:
      fail-fast: false
      matrix:
        pyver:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          - "pypy3.11"
        os:
          - ubuntu-24.04
          - windows-2025
          - macos-14
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: dist-${{ inputs.flavor }}
        path: dist

    - name: Extract tarball
      shell: bash
      run: >
        tar -zxf dist/*.tar.gz --strip-components=1

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.26'
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Install prerequisites
      run: >
        uv tool install
        -p ${{ matrix.pyver }}
        --python-preference only-managed
        --with "tox-gh-actions == 3.5.0"
        --with tox-uv
        tox

    # Glob not supported under default windows env
    - name: Determine wheel file name
      id: wheel-name
      shell: bash
      run: |
        echo "filename=$(echo dist/*.whl)" >> "$GITHUB_OUTPUT"

    - name: Test runtime
      run: >
        uvx
        tox run-parallel
        --skip-env '.*-(stub|myst)-.*'
        --installpkg ${{ steps.wheel-name.outputs.filename }}
        --result-json test-${{ inputs.flavor }}-rt-${{ matrix.os }}-${{ matrix.pyver }}.json

    - uses: actions/upload-artifact@v6
      with:
        name: log-${{ inputs.flavor }}-rt-${{ matrix.os }}-${{ matrix.pyver }}
        path: test-${{ inputs.flavor }}-rt-*.json
        if-no-files-found: error

  log-aggregation:
    if: success() || failure()
    needs: [stub, runtime, mypy-stubtest]
    runs-on: ubuntu-24.04
    permissions:
      actions: write
    steps:

    - uses: actions/download-artifact@v7
      with:
        path: all-logs
        pattern: log-${{ inputs.flavor }}-*
        merge-multiple: true

    - uses: actions/upload-artifact@v6
      with:
        name: alllogs-${{ inputs.flavor }}
        path: all-logs
        if-no-files-found: error

    - uses: geekyeggo/delete-artifact@v5
      with:
        name: log-${{ inputs.flavor }}-*

