# For inclusion in another workflow only

name: Reusable build/test workflow

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string

jobs:
  build:
    strategy:
      matrix:
        pyver: ["3.10"]
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.gitref }}
        fetch-depth: 0

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyver }}

    - uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ matrix.os }}-${{ env.pythonLocation }}-${{ hashFiles('tox.ini', 'pyproject.toml') }}

    - name: Install tox
      run: pip install -v tox

    - name: Type checker validation on source
      run: tox run-parallel --parallel-no-spinner -v -e mypy,pyright

    - name: Build sdist and wheel
      run: tox run -v -e build

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*
        if-no-files-found: error

  test-stub:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        pyver:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        os:
          - "ubuntu-22.04"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyver }}

    - uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ matrix.os }}-${{ env.pythonLocation }}-${{ hashFiles('tox.ini', 'pyproject.toml') }}

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dist

    - name: Install prerequisites
      run: >
        pip install -v
        "tox > 4"
        "tox-gh-actions == 3.1.*"

    - name: Test stubs
      shell: bash
      run: >
        tox run -v
        --skip-env='.*-rt-.*'
        --installpkg *.tar.gz
        --result-json test-stub-py${{ matrix.pyver }}.json

    - name: Upload log artifact
      uses: actions/upload-artifact@v4
      with:
        name: log-stub-py${{ matrix.pyver }}
        path: test-stub-*.json
        if-no-files-found: error

  test-rt:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        pyver:
          - "3.10"
          - "3.11"
          - "3.12"
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-13
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyver }}

    - uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ matrix.os }}-${{ env.pythonLocation }}-${{ hashFiles('tox.ini', 'pyproject.toml') }}

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dist

    - name: Install prerequisites
      run: >
        pip install -v
        "tox > 4"
        "tox-gh-actions == 3.1.*"

    - name: Test runtime
      shell: bash
      run: >
        tox run -v
        --skip-env='.*-stub$'
        --installpkg *.tar.gz
        --result-json test-rt-${{ matrix.os }}-py${{ matrix.pyver }}.json

    - name: Upload log artifact
      uses: actions/upload-artifact@v4
      with:
        name: log-rt-${{ matrix.os }}-py${{ matrix.pyver }}
        path: test-rt-*.json
        if-no-files-found: error

  log-aggregation:
    if: ${{ always() }}
    needs: [test-stub, test-rt]
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:

    - name: Download logs
      uses: actions/download-artifact@v4
      with:
        path: all-logs
        pattern: log-*
        merge-multiple: true

    - name: Upload logs
      uses: actions/upload-artifact@v4
      with:
        name: all-logs
        path: all-logs
        if-no-files-found: error

    - name: Remove individual logs
      uses: geekyeggo/delete-artifact@v4
      with:
        name: log-*
